$color-bg-primary: #FBFBFB;
$color-bg-secondary: #FFF;
$color-text-dark: #000;
$color-text-white: #FFF;
$color-text-secondary: #6C757D;
$color-border: #E0E0E0;

$color-danger: #DC3545;

$color-blue-500: #0D6EFD;
$color-gray-200: #E9ECEF;
$color-gray-300: #DEE2E6;

$body-padding-top: 41px;
$body-padding-bottom: 58px;
$header-height: 60px;
$header-margin-bottom: 10px;

